<%- include ../partials/header %>
<%- include ../partials/categories-navbar %>

<div class="container">
  <!-- Flash messages -->
      <div class="row mt-3 mb-3">
        <div class="col-md-8 m-auto">
          <% if (successMsg) { %>
          <div id="success" class="alert alert-success">
            <%= successMsg %>
          </div>
          <% } else { %>
          <div id="success" class="alert alert-success d-none"></div>
          <% } %>
        </div>
        <div class="col-md-8 m-auto">
          <% if (errorMsg) { %>
          <div id="error" class="alert alert-danger">
            <%= errorMsg %>
          </div>
          <% } else { %>
          <div id="error" class="alert alert-danger d-none"></div>
          <% } %>
        </div>
      </div>
  <!-- User's orders -->
  <div class="row mt-4">
    <div class="col-md-8 m-auto">
      <% if (orders != null && orders.length > 0) { %>
      <h3>Danh sách đơn hàng</h3>
      <% orders.forEach( order => { %>
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text ">
            <ul class="list-group">
              <% order.cart.items.forEach( item => { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= item.title %> | <%= item.qty %> Units
                <span class="badge badge-info badge-pill"><%= item.price %></span>
              </li>
              <%}) %>
            </ul>
          </p>
        </div>
        <div class="card-footer">
          <strong>Tổng Giá: <%= order.cart.totalCost %> VNĐ</strong>
        </div>
        <div class="card-footer">
          <strong>Tổng Điểm: <%= order.cart.totalPoints %> Điểm</strong>
        </div>
      </div>
      <%}) %>
      <%} else { %>
        <h3 class="text-center" >You have not made any orders yet</h3>
      <%} %>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
