<%- include ../partials/header %> <%- include ../partials/categories-navbar %>
<div class="container">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-8 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Giỏ Hàng</span>
      </h4>
      <ul class="list-group mb-3">
        <% products.forEach( product => { %> <% if(product != null) {%>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><%= product.title %></h6>
            <small class="text-muted"><%= product.productCode %></small>
          </div>
          <% if(product.usePoint) {%>
            <span class="text-muted"><%= product.totalPoint %> Điểm</span>
          <%} else {%>
            <span class="text-muted"><%= product.totalPrice %> VNĐ</span>
          <%}%>
        </li>
        <% } %> <% }) %>
        <li class="list-group-item d-flex justify-content-between">
          <span>Tổng cộng: </span>
          
            <strong>Tổng tiền: <%= cart.totalCost %> VNĐ</strong>
          
            <strong>Tổng điểm: <%= cart.totalPoint %> Điểm</strong>
          
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Đổi</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Thông tin nhận hàng</h4>
      <form class="needs-validation was-validated" novalidate="" action="/checkout" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Họ và Tên</label>
            <input type="text" class="form-control" name="name" placeholder="" value="<%= user.name %>" required="">
            <div class="invalid-feedback">
              Xin vui lòng cung cấp họ và tên
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="you@example.com" value="<%= user.email %>" required="">
          <div class="invalid-feedback">
            Vui lòng nhập đúng định dạng email
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Số điện thoại</label>
          <input type="text" class="form-control" name="phoneNumber" placeholder="0999999999" required="" value="<%= user.phoneNumber %>">
          <div class="invalid-feedback">
            Xin vui lòng cung cấp số điện thoại người nhận
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Địa chỉ nhận hàng</label>
          <input type="text" class="form-control" name="address" placeholder="1234 Đường A, Thôn B, Xã C, Thành Phố D, Tỉnh S" required="" value="<%= user.address %>">
          <div class="invalid-feedback">
            Xin vui lòng cup cấp địa chỉ nhận hàng
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Hoàn tất thanh toán</button>
        <input name="cartId" type="hidden" value="<%= cart._id %>">
        <input type="hidden" name="_csrf" value="" />
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="javascripts/checkout.js"></script>

<%- include ../partials/footer %>
