<%- include ../partials/header %> <%- include ../partials/categories-navbar%>

<!-- Top Carousel -->
<div
  id="topCarousel"
  class="carousel slide mb-3 mt-0 pt-0"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li data-target="#topCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#topCarousel" data-slide-to="1"></li>
    <li data-target="#topCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/slide1.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/slide2.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/slide3.jpg" alt="Third slide" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#topCarousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#topCarousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Store's categories section -->
<!-- <div class="container">
  <h3 class="text-center mb-3 mt-4">Store's Categories</h3>
  <% if (categories) { %>
  <div class="row text-center m-auto">
    <% for(let i=0; i<1; i++){ %>
    <div class="col-lg-3 col-md-3 col-sm-12 text-center ml-2">
      <a class="title-link" href="/products/<%=categories[i].slug%>">
        <img src="images/dept<%=i%>.jpg" alt="category" class="circle-img" />
        <h4 class="mb-3 mt-3"><%=categories[i].title%></h4>
      </a>
    </div>
    <%} %>
    <div class="col-lg-1 col-md-1 col-sm-12 text-center mx-auto">
      <a href="/products">
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <%}%>
</div> -->

<hr class="gradient-style" />

<!-- Latest products slider -->
<div class="container mb-4 mt-4">
  <!--Carousel Wrapper-->
  <div
    id="products-carousel"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
  >
    <!--Controls-->
    <div class="controls-top mb-2">
      <div class="row">
        <div class="col-8">
          <h3>Latest Products</h3>
        </div>
        <div class="col-4">
          <div class="controls float-right hidden-xs">
            <a
              class="left fa fa-chevron-left btn btn"
              href="#products-carousel"
              data-slide="prev"
            ></a
            ><a
              class="right fa fa-chevron-right btn"
              href="#products-carousel"
              data-slide="next"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

<%- include ../partials/footer %>
