<%- include ../partials/header %>  <%- include ../partials/categories-navbar %>
<div class="container">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <!-- Product info -->
  <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2 mr-2 ml-auto">
      <img
        src="<%=product.imagePath%>"
        class="img-fluid product-img"
        alt="product image"
      />
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <h2><%=product.title%></h2>
      <hr />
      <% if(product.usePoint) {%>
        <p class="price"><%=product.point%> Điểm</p>
      <% } else { %>
        <p class="price"><%=product.price%> VNĐ</p>
      <%} %>
      
      <p class="lead"> Description: 
        <p><%=product.description%></p>
      </p>
      
      <p><strong>Phân Loại:</strong> <%=product.category.title%></p>
      <p><strong>Nhãn Hiệu: </strong><%=product.manufacturer%></p>
      <p><strong>Mã Hàng:</strong> <%=product.productCode%></p>
      <p><strong>Ngày nhập kho:</strong> <%= moment(product.createdAt).format( 'MMMM Do YYYY')%></p>
      <% if(product.available) {%>
      <p class="is-available text-center">Còn Hàng</p>
      <a href="/add-to-cart/<%=product._id%>" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
        Mua Hàng
      </a>
      <% } else { %>
      <p class="is-not-available text-center">Hết Hàng</p>
      <%} %>
    </div>
  </div>
</div>
<%- include ../partials/footer %>
