<%- include ../partials/header %> <%- include ../partials/categories-navbar %>
<div class="container cart">
  <% if (cart != null && !cart.paid ) { %>
  <div class="row">
    <div class="col-md-11 col-sm-12 m-auto table-responsive">
      <table class="table text-center">
        <thead>
          <tr >
            <th>Sản Phẩm</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Số Lượng</th>
            <th>&nbsp;</th>
            <th>Giá</th>
            <th>Tổng</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach( product => { %> <% if(product != null) {%>
          <tr class="my-auto">
            <td>
              <a
              href="/products/<%=product.category.slug%>/<%=product._id%>"
            >
              <img src="<%=product.imagePath%>" class="img-thumbnail" alt="image thumbnail" />
              </a>
            </td>
            <td>
              <div class="float-left mb-3">
                <a class="title-link"
                href="/products/<%=product.category.slug%>/<%=product._id%>"
              >
                <h6 class="text-left"><%= product.title %></h6> 
                <p class="text-left">Mã SP: <%= product.productCode %></p>
              </div>
              
              </a>
            </td>
            <td class="text-center">
              <a href="/add-to-cart/<%=product._id%>"
                ><i class="fa fa-plus-square" aria-hidden="true"></i
              > </a>
            </td>
            <td class="text-center">
              <p class="qty-display pt-1">
              <%= product.qty %>
            </p>
          </td>
            <td class="text-center" >
              <a href="/reduce/<%=product._id%>"
                ><i class="fa fa-minus-square" aria-hidden="true"></i
              ></a>
            </td>
            <% if(product.usePoint) {%>
              <td><%= product.point %> Điểm</td>
              <td><%= product.totalPoint %> Điểm</td>
            <%} else {%>
              <td><%= product.price %> VNĐ</td>
              <td><%= product.totalPrice %> VNĐ</td>
            <%}%>
            <td>
              <a
                href="/removeAll/<%=product._id%>"
                class="btn btn-danger btn-sm button-style-danger"
                >Xóa</a
              >
            </td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </div>
  </div>
<hr>
  <div class="row mt-4 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <strong>Tổng tiền: <%= cart.totalCost %> VNĐ</strong>
    </div>
    <div class="col-md-11 col-sm-12 m-auto">
      <strong>Tổng điểm: <%= cart.totalPoint %> Điểm</strong>
    </div>
    
  </div>
  <div class="row mt-2 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <a href="/checkout" class="btn btn-dark button-style">Thanh toán</a>
    </div>
  </div>
  <% } else { %>
  <div class="row text-center">
    <div class="col-md-9 col-sm-9 m-auto">
      <h2>Bạn chưa mua sản phẩm nào</h2>
    </div>
  </div>

  <% } %>
</div>

<%- include ../partials/footer %>
