<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto">
      <h1 class="mt-4 mb-4 text-center">Contact Us</h1>
      <!-- Flash message -->
      <% if (successMsg != null && successMsg) { %>
        <div id="success" class="alert alert-success">
          <%= successMsg %>
        </div>
        <% } %>
    </div>
    <div class="col-lg-8 col-md-12 text-justify m-auto">
      <!-- Introduction -->
    <div class="mt-4 mb-4">
      <p>You are always welcome to contact us at anytime! Feel free to email us or phone us using our contact details below<br />
        You can also visit us or call us at anytime during our working hours from <i>Sunday to Thursday: 9AM to 12PM.</i> <br />
        We reply to our emails even during the weekends. So please do not hesitate to contact us.
      </p>
    </div>
      <!-- Email contacts -->
      <div class="mt-4 mb-4">
        <p>
          <h6><i>Contact us by email:</i></h6>
        </p>
        <p>
          For general inquiries:
          <a href="mailto:general@email.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>general@email.com</u>
          </a>
        </p>
        <p>
          For orders problems:
          <a href="mailto:orders@email.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>orders@email.com</u>
          </a>
        </p>
        <p>
          For technical support:
          <a href="mailto:support@email.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>support@email.com</u>
          </a>
        </p>
      </div>
      <!-- Phone contacts -->
      <div class="mt-4 mb-4">
        <p>
          <h6><i>Contact us by phone:</i></h6>
        </p>
        <p>
          Call center phone 1:
          <a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            555-555-5555
           </a>
        </p>
        <p>
          Call center phone 2:
          <a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            555-555-5555
           </a>
        </p>
        <p>
          Whatsapp phone:
          <a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            555-555-5555
           </a>
        </p>
      </div>
    </div>

    <!-- Contact us form -->
    <div class="col-lg-8 col-md-12 m-auto">
      <div class="mt-5 mb-4">
        <h2>Contact Us Form</h2>
        <!-- Error flash message -->
        <% if(errorMsg!=null && errorMsg.length>0) {%>
          <div id="flash-msg" class="alert alert-danger">
            <% errorMsg.forEach((message) => { %>
            <p>
              <%=message %>
            </p>
            <%}) %>
          </div>
          <%}%>
        <form action="/pages/contact-us" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" name="name" id="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" required />
          </div>
          <div class="form-group">
            <label for="message">Message contents</label>
            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Please write your message here..." required></textarea>
          </div>
          <input type="hidden" name="_csrf" value="" />
          <button type="submit" class="btn btn-primary button-style">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
